@inject IJSRuntime JS
@inject NavigationManager Navigation

@page "/"
@* <button class="btn btn-danger" @onclick="Logoff">Se déconnecter</button> *@
<h1>Interface Patient</h1>
<Patients/>

@code {
    
}